.BookRows {
  display: inline-flex;
  background-color: #1a4452;

  &.pending {
    opacity: 0.8;
  }
}

.bookSide {
  min-width: 480px;
  margin: 0 2px;
  color: #f8f4ea;
}

.header {
  background-color: #579bb1;
}

.bookRow {
  font-size: 14px;
}

.header,
.bookRow {
  display: flex;
  flex: 1;

  > * {
    flex: 1 0 25%;
    padding: 2px 0;
  }

  &.bidSide {
    text-align: right;
  }
}
